<%= render "shared/header" %>
  <%= link_to image_tag("logo_3.png", class:"header-logo"), root_path %>


<div class='shop-contents'>
    <ul class='shop-lists'>
      <li class='shop-list'>
        <%=link_to image_tag("img_2599.png", class: "shop-img"),"#" %>
        <div class='shop-info'>
          <h1 class='shop-name'>
            <a href ="#">居酒屋　維吹</a>
          </h1>
            <div class="address">
              東京駅徒歩7分 / 居酒屋・和食
              <div class='review'>
                <span>★★★★☆</span> 3.91(77件)
              </div>
              <div class="budget">
                予算 : 3000円~3999円
              </div>
              <div class="operating-hours">
              営業時間: 17:00〜23:00(Lo:22:30)
              </div>
              <div class="seat">
              席数: 45席
              </div>
              <div class="other">
              創業40年の東京駅前の隠れた居酒屋。
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>

  <%= render "shared/footer" %>