* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.nav {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 0;
}

.lists-left {
  display: flex;
}

.area-list {
  margin-right: 30px;
  color: #333333;
}

.jenre-list {
  color: #333333;
}

.lists-right {
  display: flex;
}

.logout {
  margin-right: 30px;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 30px;
  color: #333333;

}

.sign-up{
  color: #333333;
  margin-right: 30px;
}

.mypage {
  margin-right: 30px;
  color: #333333;
}

.save {
  margin-right: 30px;
  color: #333333;
}