.header-logo{
  width: 100%;
}

.shop-lists {
  display: flex;
  justify-content: center;
}

.shop-list {
  padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid #cccccc;
    display: inline;
    font-family:serif;
}

.shop-img {
  width: 33vh;
  height: 33vh;
}

.shop-info {
  float: right;
  margin:15px 50px;
}

.shop-name {
  font-size: 26px;
  margin: 10px auto;
}

.address, .review, .budget, .operating-hours, .seat, .other {
  margin-top: 5px;
  font-size: 16px;
}

.review span {
  font-size: 22px;
  text-shadow: 3px black;
}